.product-img {
    width: 370px;
    height: 370px;
    border-radius: 7px;
}

.price-rating-container {
    display: flex;
    justify-content: space-between;
}

.product-rating {
    width: 65px;
    text-align: center;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #0b69ff;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 11px;
    margin-right: 10px;
}

.prime-products {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 305px;
    height: 498px;
    grid-gap: 60px;
}

.all-products {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    margin-left: 150px;
    grid-gap: 60px;
}

.product-title {
    font-size: 20px;
}

.rating-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.product-price {
    font-weight: 600;
}

.product-heading {
    margin-left: 160px;
    margin-top: 70px;
    color: #64748b;
}
.prime-heading{
    margin-left: 260px;
    margin-top: 70px;
    color: #64748b;
}
.non-prime {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.non-prime img {
    width: 70%;
    border-radius: 10px;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.product-header {
    display: flex;
    justify-content: space-between;
}

.allFilter-container {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
}
.no-product{
    display: flex;
    justify-content: center;
    width: 55%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.no-product img{
    width: 300px;
    height: 300px;
}
