.home{
    display: flex;
    color: white;
    background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    margin-top: 98px;
}
.home-content{
    width: 525px;
    margin-left: 270px;
    margin-right: 50px;
    margin-top: 58px;
}
.home-content h1{
    font-size: 60px;
}
.home-content p{
    font-size: 25px;

}
.home-content button{
    font-size: 20px;
    width: 135px;
    padding: 10px;
    border: none;
    background-color: #4f46e5;
    color: white;
    border-radius: 5px;
}
.home-banner img{
    margin-right: 180px;
}
@media screen and (max-width: 1500px) {
    .home-content{
        margin-left: 110px;
    }
}
@media screen and (max-width: 1175px) {
    .home{
        background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
    }
}
@media screen and (max-width: 800px) {
    .home-content h1{
        font-size: 40px;
    }
    .home-content p{
        font-size: 20px;
    }
    .home-content button{
        font-size: 18px;
    }
    .home-content{
        margin-left: 40px;
    }
    .home {
        height: 89vh;
    }
}

