.home{
    display: flex;
    color: white;
    background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
}
.home-content{
    width: 525px;
    margin-left: 160px;
    margin-right: 50px;
    margin-top: 58px;
}
.home-content h1{
    font-size: 60px;
}
.home-content p{
    font-size: 25px;

}
.home-content button{
    font-size: 20px;
    width: 135px;
    padding: 10px;
    border: none;
    background-color: #4f46e5;
    color: white;
    border-radius: 5px;
}
.home-banner img{
    margin-right: 180px;
}