body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffc2a0;
}
h1{
  text-align: center;
  margin-bottom: 47px;
  margin-top: 0px;
  color: #ff8542;
  font-size: 47px;
}
.container{
  background-color: white;
  padding: 100px;
    border-radius: 102px;
}
