.name{
    border: 1px solid;
    padding: 40px;
    width: 400px;
    height: 300px;
}
.description{
    border: 1px solid;
    padding: 40px;
    width: 400px;
    height: 300px;
}
.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
}
.dropdown{
    text-align: center;
    margin: 50px;
}