
body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#1f0a2b,#501e68) ;

}
.scores{
    display: flex;
    margin-left: 800px;
}
.img-container{
  display: flex;
  justify-content: center;
}
h2{
  color: grey;
    font-size: 18px;
    border-bottom: 1px solid grey;
    padding: 10px;
    padding-left: 9px;
    padding-right: 16px;
}
.big-container{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
img{
    width: 117px;
    height: 102px;
}
.search{
  display: flex;
  justify-content: center;
}
.main{
  margin: 10px;
  display: flex;
  justify-content: center;
}
input{
    width: 255px;
    background-color: #fff1eb;
    margin: 20px;
    padding: 10px;
    border:1px solid #7b8794;
}

h2:hover{
cursor: pointer;
}
.text{
  border-bottom:2px solid #fec653;
  color: #fec653;
}
.text2{
    color: white;
}

.score{
  margin-right: 40px;
}
.seconds{
   
}
h1{
    font-size: 20px;
    color: white;
  
}
.logo{
    width: 160px;
    height: 39px;
}
.nav{
    display: flex;
    background-color: #48165f;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 85px;
}