
.login-content{
    border: 1px solid white;
    padding: 29px;
    width: 391px;
    box-shadow: 0px 4px 16px #bfbfbf;
    display: flex;
    justify-content: center;
}
input{
    padding: 9px;
    width: 230px;
}
.head{
    line-height: 5px;
    margin-top: 25px;
    font-size: 15px;
    
}
.login-content button{
    padding: 9px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: #ea580c;
    border: none;
    border-radius: 5px;
    margin-left: 82px;
    width: 83px;
    margin-top: 15px;
}
.error{
    color: red;
    font-size: 13px;
}
.container{
    display: flex;
    justify-content: center;
}
