.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navigations{
    display: flex;
    width: 360px;
    justify-content: space-between;
    margin-right: 250px;
    margin-top: 50px;
}
.logo img{
    width: 200px;
    margin-left: 250px;
    margin-top: 45px;
}
.logout-btn{
    width: 80px;
    height: 33px;
    font-size: 15px;
    border: none;
    background-color: #0967d2;
    color: white;
    border-radius: 5px;
}
.navigations p{
    font-size: 22px;
    margin-top: 6px;
    color: #475569;
}
.navigations p a{
    text-decoration: none;

}