#job-type-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
   border-bottom: 3px solid grey;
   margin-left: 20px;
   margin-right: 20px;
}
#job-container{
    padding: 17px;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.322);
    max-width: 70%;
    margin-left: 250px;
}
a{
    text-decoration: none;
    color: white;
}
#roll-container{
    display: flex;
    margin-left: 20px;
}
#type-container{
    display: flex;
    width: 215px;
    justify-content: space-between;
}
#logo{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-right: 22px;
}
#description-container{
    margin-left: 20px;
    margin-right: 20px;
}
#description-container h2{
    font-size: 17px;
}
#rating-container{
    display: flex;
    line-height: 0px;
}
#rating-container svg{
    margin-right: 6px;
    margin-top: 6px;
    color: gold;
}
#roll-title{
    line-height: 0px;
}
#location-container{
    display: flex;
}
#location-container svg{
    margin-right: 6px;
    margin-top: 17px;
    color: white;
}
.visit-link{
    display: flex;
    justify-content: space-between;
}
.visit-link a{
    margin-top: 14px;
    color: #4f46e5;
}
.skills-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-gap: 50px;
    margin-bottom: 50px;
}
.skills img{
    width: 60px;
    height: 60px;
}
.skills{
    display: flex;
}
.skills p{
    margin-left: 30px;
}
.skill-heading{
    margin-left: 20px;
}
#life-container{
    display: flex;
    margin-left: 20px;
}
#life-container img{
    margin-top: 60px;
    border-radius: 10px;
}