.container{
    margin: 50px;
}
.name{
    margin-top: 20px;
    background-color: #fddddb;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
button{
    padding: 12px;
    margin-left: 14px;
    border: none;
    color: #dd1264;
    font-weight: 600;
    border-radius: 10px;
}

