.name{
    width: 303px;
   border: 1px solid grey;
    border-radius: 13px;
}
.head{
    display: flex;
    width: 300px;
    position: relative;
}
.like{
    position: absolute;
    right: 10px;
    top:14px
}
.head h1{
    margin-left: 20px;
    margin-top: 28px;
    font-size: 22px;
    line-height: 0px;
    font-weight: 500;
}
.date{
    line-height: 0px;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 23px;
    margin-top: 20px;

}