.emoji-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: center;
    margin-top: 110px;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom right, #9796f0,#fbc7d4);
}

.emoji{
    width: 170px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 170px;
    border: 5px solid rgba(255, 239, 239, 0.418);
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 15px;
}
.emoji:hover{
    cursor: pointer;
}
.finished{
    display: flex;
    border: 5px solid rgba(255, 255, 255, 0.379);
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.158);
}
.game-details{
    text-align: center;
    color: white;
   
}
.game-details h1{
    font-size: 60px;
    margin-top: 80px;
}
.game-details h3{
    font-size: 50px;
    line-height: 10px;
}
.game-details p{
    font-size: 45px;
    font-weight: 700;
    color:  #6a59ff;
    line-height: 0px;
}
.game-details button{
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    background-color:  #ffce27;
    border: none;
    font-weight: 700;
    color: black;
}
button:hover{
    cursor: pointer;
}
