.popup-content{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 182px;
    border-radius: 10px;
}
.popup-dark-content{
    background-color: #232323;
    color: white;
}
.buttons{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-top: 16px;
}
.p{
    margin-top: 41px;
    color:  #00306e;
}
.p-dark{
    color: white;
}
.logout-icon{
    display: none;
    font-size: 35px;
}
@media screen and (max-width:860px) {
    .logout-icon{
        display: block;
    }
}