.popupp-content{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25% !important;
    height: 182px !important;
    border-radius: 10px;
}
@media screen and (max-width: 1200px){
    .popupp-content{
        width: 40% !important;
    }
}
@media screen and (max-width: 700px){
    .popupp-content{
        width: 85% !important;
    }
}
.popupp-dark-content{
    background-color: #232323;
    color: white;
}
.buttons{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-top: 16px;
}
.pp{
    margin-top: 41px;
    color:  #00306e;
}
.pp-dark{
    color: white;
}
.logout-icon{
    display: none;
    font-size: 35px;
}
@media screen and (max-width:860px) {
    .logout-icon{
        display: block;
    }
}