.sorting{
    height: 20px;
    border: none;
    background-color: white;
    padding-right: 15px;
    font-weight: 600;
    font-size: 15px;
}
.sorting:focus{
    outline: none;
}
.sorting-header{
    display: flex;
    margin-top: 75px;
}
.sorting-header p{
    margin: 0px;
    margin-top: 2px;
    margin-left: 7px;
    margin-right: 7px;
}
.sort-by-icon{
    font-size: 25px;
}